$aqua: rgba(0,255,255, 1);
$aquamarine: rgba(127,255,212, 1);
$azure: rgba(240,255,255, 1);
$beige: rgba(245,245,220, 1);
$black: rgba(0,0,0, 1);
$blue: rgba(0,0,255, 1);
$blue_violet: rgba(138,43,226, 1);
$brown: rgba(165,42,42, 1);
$chartreuse: rgba(127,255,0, 1);
$chocolate: rgba(210,105,30, 1);
$coral: rgba(255,127,80, 1);
$crimson: rgba(220,20,60, 1);
$cyan: rgba(0,255,255, 1);
$dark_blue: rgba(0,0,139, 1);
$dark_golden_rod: rgba(184,134,11, 1);
$dark_gray: rgba(169,169,169, 1);
$dark_green: rgba(0,100,0, 1);
$dark_red: rgba(139,0,0, 1);
$dark_sea_green: rgba(143,188,143, 1);
$dark_slate_gray: rgba(47,79,79, 1);
$deep_sky_blue: rgba(0,191,255, 1);
$dim_gray: rgba(105,105,105, 1);
$fire_brick: rgba(178,34,34, 1);
$forest_green: rgba(34,139,34, 1);
$ghost_white: rgba(248,248,255, 1);
$gold: rgba(255,215,0, 1);
$golden_rod: rgba(218,165,32, 1);
$gray: rgba(128,128,128, 1);
$green: rgba(0,128,0, 1);
$green_yellow: rgba(173,255,47, 1);
$hot_pink: rgba(255,105,180, 1);
$indian_red: rgba(205,92,92, 1);
$indigo: rgba(75,0,130, 1);
$ivory: rgba(255,255,240, 1);
$khaki: rgba(240,230,140, 1);
$lavender: rgba(230,230,250, 1);
$light_blue: rgba(173,216,230, 1);
$light_gray: rgba(211,211,211, 1);
$light_green: rgba(144,238,144, 1);
$light_sea_green: rgba(32,178,170, 1);
$light_slate_gray: rgba(119,136,153, 1);
$lime: rgba(0,255,0, 1);
$magenta: rgba(255,0,255, 1);
$maroon: rgba(128,0,0, 1);
$misty_rose: rgba(255,228,225, 1);
$mocassin: rgba(255,228,181, 1);
$navy: rgba(0,0,128, 1);
$olive: rgba(128,128,0, 1);
$olive_drab: rgba(107,142,35, 1);
$orange: rgba(255,165,0, 1);
$orange_red: rgba(255,69,0, 1);
$pink: rgba(255,192,203, 1);
$purple: rgba(128,0,128, 1);
$red: rgba(255,0,0, 1);
$rosy_brown: rgba(188,143,143, 1);
$royal_blue: rgba(65,105,225, 1);
$saddle_brown: rgba(139,69,19, 1);
$salmon: rgba(250,128,114, 1);
$sandy_brown: rgba(244,164,96, 1);
$sea_green: rgba(46,139,87, 1);
$slate_blue: rgba(106,90,205, 1);
$sky_blue: rgba(135,206,235, 1);
$sienna: rgba(160,82,45, 1);
$silver: rgba(192,192,192, 1);
$slate_gray: rgba(112,128,144, 1);
$steel_blue: rgba(70,130,180, 1);
$tan: rgba(210,180,140, 1);
$teal: rgba(0,128,128, 1);
$tomato: rgba(255,99,71, 1);
$turquoise: rgba(64,224,208, 1);
$violet: rgba(238,130,238, 1);
$white: rgba(255,255,255, 1);
$white_smoke: rgba(245,245,245, 1);
$yellow: rgba(255,255,0, 1);
$yellow_green: rgba(154,205,50, 1);
