@font-face {
  font-family: 'Kalam-Bold';
  src: font_url('Kalam-Bold.ttf');
}

@font-face {
  font-family: 'Kalam-Light';
  src: font_url('Kalam-Light.ttf');
}

@font-face {
  font-family: 'Kalam-Regular';
  src: font_url('Kalam-Regular.ttf');
}
